<div class="ui-modal">
<section class="modal" style="box-shadow: 5px 5px 20px #888888; width: {obj.size.width}px; height: {obj.size.height}px;">
	<header id="modalheader" style="background-color: blue">
		<span class="icon">&#9888;</span>
		<span style="float: right;" class="closeModal" style="padding: 20px;" id="closeModalButton">x</span>
		<hgroup>
			<h1>{obj.title}</h1>
		</hgroup>
	</header>
	<div class="content" style="background-color: white">{obj.msg}<br><br><br>
		<div style="float: right;" id="modalFooter" class="modal-footer"></div>
	</div>
</section>
</div>
